<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-witdth, initial-scale=1.0">
        <title>Productivity</title>
        
        <style>
            .iframe-container {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                height: 150vh;
            }
            .text-type {
                display: flex;
                flex-direction: column;
                justify-content: left;
                text-align: baseline;
                border: 3px solid #0b0828;
                padding: 20px;
                margin: 20px;
                border-radius: 10px; 
            }
            .intro {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                 
            }
            .content{
                border: 3px solid #0b0828;
                padding: 20px;
                margin: 20px;
                border-radius: 10px; 
            }
            .form {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                padding: 20px;
                margin: 20px;
                border-radius: 10px; 
            }
            .sub-form {
                display: flex;
                flex-direction: column;
                justify-content: left baseline;
                text-align: baseline;
                padding: 5px;
                margin: 5px;
                border-radius: 1px;
            }
            .mltext{
                display: flex;
                justify-content: space-around;
                align-items: baseline;
                text-align: baseline;
                padding: 20px;
                margin: 20px;
                border-radius: 10px
            }
            
        </style>
    </head>
    
    <body style="text-align: center;">

        <div class="img-intro">    
            <img src="https://4kwallpapers.com/images/wallpapers/ipad-air-2022-stock-blue-background-dark-mode-3840x2160-7903.png"
            alt="Top Entry"
            width="1510"
            height="150"/>
           <br/>
      </div>

        <h1>A Deep Dive in Productivity Analysis</h1>

        <div class="intro">
            <div class="text-type">
                <h3>About Me</h2>
                <p>
                    I am a Data Analyst passionate about technology, innovation, and data-driven decision-making within finance and business. Diverse experiences include logistics and project management, honing skills through leading roles in event production and restaurant management in the Tri-State Area.
                </p>
                <p>
                    Skilled in Python, SQL, Tableau, and machine learning, committed to driving excellence through problem-solving and adaptability. Eager to contribute expertise to impactful projects at the intersection of technology, finance, and innovation, leveraging entrepreneurial spirit for tangible results.
                </p>
                <p>
                    With a solid foundation in data analysis, poised to apply insights and drive growth in tech companies, banks, financial management firms, and exporting/importing companies. Seeking opportunities to make meaningful strides in optimizing operations and driving business success.
                </p>
            </div>

            <div class="content">
                <h3>Hello, I am Eliel Almeida</h3>
                <p>Click on the Picture to See My LinkedIn</p>
                 <a href="https://www.linkedin.com/in/eliel-dealmeida-data/" target="_blank">
                   <img src="https://ca.slack-edge.com/T01BAR6KJP4-U06RKK3SV45-329c03a893fc-512"
                 alt="Profile Picture"
                 width="108"/>
                </a>
                <br/>
                <button onclick="location.href='mailto:dealmeidaeliel@gmail.com';" target="_blank">Send Me an E-Mail</button>
           </div>
        </div>

        <div class="project">
            <div class="text-type">
                <h3>About Project</h2>
                <p>
                    This project aims to show a sample of the abilities in machine learning and neural networks (AI) using SKLearn and TensorFlow, OS and Dotenv were used for operation optimization.</p>
                <p>
                    The goal is to create a Algorithmic Machine Learning Model that is based on easily accessible business features.
                    I built an in-depth Data Analysis with Interactable Graphs using Tableau to further the investigation of what drives productivity.
                    I also formatted a Data Base where data can be stored, organized, related, secured and distributed using SQL and frameworks such as SQLAlchemy and MySLQConnector.</p>
                <p>
                    The data was cleaned and formatted using Pandas, Matplotlib and Seaborn were used for visualization. Click on the GitHub logo to show the GitHub Repository:</p>

                    <a href="https://github.com/ElielVSAlmeida/Productivity" target="_blank">
                        <img src="https://1000logos.net/wp-content/uploads/2021/05/GitHub-logo.png"
                      alt="Github Picture"
                      width="78"/>
                     </a>
            </div>
        </div>

        <div class="iframe-container">
            <div class='tableauPlaceholder' id='viz1717875613730' style='position: relative; width: 80%;' >
                <noscript><a href='#'><img alt='Productivity Analysis ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;ProductivityDashboard_17178755863570&#47;ProductivityAnalysis&#47;1_rss.png' style='border: none' /></a></noscript>
                <object class='tableauViz'  style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' /> 
                    <param name='site_root' value='' />
                    <param name='name' value='ProductivityDashboard_17178755863570&#47;ProductivityAnalysis' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Pr&#47;ProductivityDashboard_17178755863570&#47;ProductivityAnalysis&#47;1.png' /> 
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' />
                    <param name='language' value='en-US' />
                    <param name='filter' value='publish=yes' />
                </object>
            </div>
        </div>                
        <script type='text/javascript'>
            var divElement = document.getElementById('viz1717875613730');
            var vizElement = divElement.getElementsByTagName('object')[0];
            if (divElement.offsetWidth > 800 ) { 
                vizElement.style.width = '1400px'; 
                vizElement.style.height = '927px'; 
            } else if (divElement.offsetWidth > 500 ) { 
                vizElement.style.width = '1400px'; 
                vizElement.style.height = '927px'; 
            } else { 
                vizElement.style.width = '100%'; 
                vizElement.style.height = '2227px'; 
            }                    
            var scriptElement = document.createElement('script');                    
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
            vizElement.parentNode.insertBefore(scriptElement, vizElement);                
        </script>

        <h2 id="section1">Machine Learning Productivity Prediction</h2>

        <br/>
        <p class="mltext">This is the model working without any overfitting issues, in full capacity outperforming the benchmark which is MIT licensed study (see GibHub). Please fill it up and test yourself otherwise it is unable to predict, here is a description of the features:</p>

        <div class="mltext">
            
            <div class="subml">
                <p>Date : Date range is only in 2015, the study cover 3 months. (Exemple: 15/02/2015)</p>
                <p>Week Quarter : A portion of the month, the months was divided into four quarters. (Exemple: 2)</p>
                <p>Department : Associated department with the instance. (Exemple: Finishing)</p>
                <p>Day of Week : Set the day of the week, Friday is the only day off for the industry of the study. (Exemple: Wednesday)</p>
                <p>Targeted Productivity : Set by the Authority for each team for each day. (Exemple: 0.70)</p>
                <p>Team : Associated team number with the instance. (Exemple: 8)</p>
                <p>Standard Minute Value : The allocated time for a task. (Exemple: 3.90)</p>
            </div>
            <div class="subml">
                <p>Work in progress : Includes the number of unfinished items for products. (Exemple: 0.0)</p>
                <p>Incentive : Represents the amount of financial reward. (Exemple: 0.0)</p>
                <p>Idle Time : The amount of time the production was interrupted. (Exemple: 0.0)</p>
                <p>Idle Men : The number of workers who were idle due to production interruption. (Exemple: 0)</p>
                <p>Style Change : Number of changes in the style of a particular product. (Exemple: 0)</p>
                <p>Number of Workers : Number of workers on each team. (Exemple: 8)</p>
                <p>Over Time : Represents the amount of overtime of each team in minutes (Exemple: 960.0)</p>
            </div>    
        </div>

        <form id="myForm" method="POST">
            <div  class="form">
                <div class="sub-form">
                    <label>Week Quarter: </label>
                    <select id="choices" name="quarter">
                        <option value="quarter1">Quarter 1</option>
                        <option value="quarter2">Quarter 2</option>
                        <option value="quarter3">Quarter 3</option>
                        <option value="quarter4">Quarter 4</option>
                    </select>


                    <label>Department: </label>
                    <select id="choices" name="department">
                        <option value="department_finishing">Finishing</option>
                        <option value="department_sweing">Sweing</option>
                    </select>


                    <label>Day of Week: </label>
                    <select id="choices" name="week_day">
                        <option value="option1">Monday</option>
                        <option value="option2">Tuesday</option>
                        <option value="option3">Wednesday</option>
                        <option value="option4">Thursday</option>
                        <option value="option5">Saturday</option>
                        <option value="option6">Sunday</option>
                    </select>


                    <label>Targeted Productivity: </label>
                    <input type="text" name="targeted_productivity">


                    <label>Team: </label>
                    <select id="choices" name="team">
                        <option value="1">Team 1</option>
                        <option value="2">Team 2</option>
                        <option value="3">Team 3</option>
                        <option value="4">Team 4</option>
                        <option value="5">Team 5</option>
                        <option value="6">Team 6</option>
                        <option value="7">Team 7</option>
                        <option value="7">Team 8</option>
                        <option value="9">Team 9</option>
                        <option value="10">Team 10</option>
                        <option value="11">Team 11</option>
                        <option value="12">Team 12</option>
                    </select>


                </div>
                <div class="sub-form">
                    <label>Standard Minute Value: </label>
                    <input type="text" name="smv">


                    <label>Work in Progress: </label>
                    <input type="text" name="wip">


                    <label>Incentive: </label>
                    <input type="text" name="incentive">


                    <label>Idle Time (min): </label>
                    <input type="text" name="idle_time">


                    <label>Month: </label>
                    <select id="choices" name="month">
                        <option value="1">Jan</option>
                        <option value="2">Feb</option>
                        <option value="3">Mar</option>
                    </select>


                </div>
                <div class="sub-form">
                    <label>Idle Worker: </label>
                    <input type="text" name="idle_men">


                    <label>Style Changes: </label>
                    <input type="text" name="no_of_style_change">


                    <label>Number of Workers: </label>
                    <input type="text" name="no_of_workers">


                    <label>Overtime (min): </label>
                    <input type="text" name="over_time">


                    <label>Day: </label>
                    <select id="choices" name="day">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="7">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                    </select>


                </div>
            </div>
            <input id="sub" type="submit" value="Run the Model!" accesskey="">
        </form>

        <br>
        <h3>{{my_result}}</h3>
        <h4>{{result}}</h4>
        <button onclick="location.href='https://github.com/ElielVSAlmeida';" target='_blank'>My GitHub Profile</button>
        <br>
        <br>
        <br>
        <br>
    </body>
</html>